@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.nav {
  position: relative;
  left: 16%;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #b6dcfe;
  background-image: url("../../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  background-position: center center;
  border-radius: 25px;
  padding: 5px;
}

.nav select {
  margin: 10px;
}

.nav button {
  margin: 10px;
}

.paginado {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.card {
  margin-left: 20px;
  margin-top: 25px;
  width: 310px;
  background-color: #b6dcfe;
  backdrop-filter: blur(6px);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
  background-color: #dec5e3;
  -webkit-transition: all 0.1s ease-in-out;
}

.card h4 {
  font-family: "Montserrat", sans-serif;
}

.card h5 {
  text-align: center;
  padding: 5px;
}

.cards {
  max-width: 1000px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
